* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.box {
  perspective: 120px;
}

.coin {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 4px solid #3cefff;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotateY(540deg);
  }
}
body{
    background-color: black;
}

button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);

}

#boton-ordenar{
    width: 440px;
    height: 40px;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
}



header {
    width: 100%;
    height: 150px;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;


}

#caja-logo{
    width: 150px;
    height: 150px;
    background-color: #000000;
    border-radius: 50%;
    justify-self: start;
    padding: 45px;
}

#logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#nav{
    width: 100%;
    height: 50px;
    background-color: #000000;
    justify-content: end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
}

nav ul li a:hover {
    transform: scale(1.3);
    transform: translateX(15px);
    border-bottom: 1px solid white ;
}


.caja-imagenes{
    width: 300px;
    height: 400px;
    background-color: white;
}

