@import url('https://fonts.cdnfonts.com/css/helveticafortarget-bold');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.caja-circulo {
  perspective: 120px;
}

.circulo-giratorio {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 4px solid #3cefff;
  animation: girar 1.5s ease-in-out infinite;
}

@keyframes girar {
  to {
    transform: rotateY(540deg);
  }
}
body{
    background-color: black;
}

button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
}

#boton-ordenar{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
}

header {
    width: 100%;
    height: 150px;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#caja-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-self: start;
    padding: 45px;
}

#logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#nav{
    width: 100%;
    height: 50px;
    background-color: #ff0000;
    justify-content: end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
}

nav ul li a:hover {
    transform: scale(1.3);
    transform: translateX(15px);
    border-bottom: 1px solid white ;
}

#seccion1{
    width: 100%;
    height: 700px;
    padding: 20px;
    background-color: #000000;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/bg3.jpg);
    gap: 50px;
}

#caja-nombre{
    width: 900px;
    height: 300px;
    color: white;
    font-size: 90px;
    font-family: 'HelveticaforTarget', sans-serif;                                
    background-color: #00000048;
    text-align: center;
    padding: 55px;
    border-radius: 20px;
    box-shadow: rgb(50, 50, 93) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.caja-informacion{
    width: 600px;
    height: 250px;
    color: white;
    font-size: 17px;
    font-family: 'HelveticaforTarget', sans-serif; 
    background-color: #000000a4;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.87) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.637) 0px 18px 36px -18px inset;
}


#seccion2{
    width: 100%;
    height: auto;
    padding: 20px;
    min-height: 400px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#caja-imagenP{
    width: 400px;
    height: 300px;
    background-color: #ffffff;
   border-radius: 0px 0px 0px 200px;
}

#imagenP{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 0px 0px 0px 200px;
}


#caja-textos{
    width: 500px;
    height: 350px;
    background-color: #00000088;
    color: white;
    text-align: center;
    font-family: 'HelveticaforTarget', sans-serif; 
    padding: 20px;
    text-wrap: wrap;
     box-shadow: rgba(67, 64, 255, 0.205) 0px 22px 70px 4px;
    
}

#caja-lateral{
     width: 500px;
    height: 350px;
    background-color: #00000044;
    color: white;
    font-family: 'HelveticaforTarget', sans-serif; 
    padding: 35px;
    font-size: 17px;
    box-shadow: rgba(67, 64, 255, 0.205) 0px 22px 70px 4px;
}

#section3{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-image: url(/img/bg4.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.caja-textos{
    width:  400px;
    height:  auto;
    background-color: #0048ff25;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

#contenedor-imagenes{
   width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

#caja-imagenes{
    width: 300px;
    height: 300px;
    background-color: #000000;
    
    
}

.imagenes{
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: rgba(25, 0, 255, 0.4) 5px 5px, rgba(17, 0, 255, 0.3) 10px 10px, rgba(68, 0, 255, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    
}

#section4{
    width: 100%;
    height: 600px;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #001C63;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

#caja-textoS4{
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(141, 141, 141, 0.377), rgba(0, 0, 0, 0.349));
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    text-align: center;
}

#verplanes{
  width: 250px;
  height: 40px;
}

#seccion5{
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 40px;
     background-image: url(/img/bg3.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     flex-wrap: wrap;
     padding: 40px;
}

.cajas-plan{
    width: 400px;
    height: 500px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    padding: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(0, 17, 255, 0.089);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.58);
   
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 1001;
}

.menu-btn .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

footer {
  width: 100%;
  background: #0b0b0b;
  color: white;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
  font-size: 19px;
  font-family: 'HelveticaforTarget', sans-serif; 
}

.footer-col {
  flex: 1;
  min-width: 250px;
  font-size: 19px;
  font-family: 'HelveticaforTarget', sans-serif; 
}

.footer-col h2,
.footer-col h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 19px;
  font-family: 'HelveticaforTarget', sans-serif; 
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-size: 19px;
  font-family: 'HelveticaforTarget', sans-serif; 
}

.footer-col ul li a:hover {
  color: #0079eb;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 1024px) {

  #caja-logo{
    width: 0px;
    height: 0px;
     margin-top: -40px;
  }

  #logo{
    width: 40px;
    height: auto;
  }

  #menu-btn{
       margin-top: -10px;
  }

  #boton-ordenar{
       margin-left: -70px;
       z-index: 1001;
  }

  body{
    background-color: #000000;
  }

  #contenedor-imagenes{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: solid rgb(255, 255, 255) 1px;
  }

  .imagenes,
  .caja-imagenes{
    width: 100%;
    height: auto;
  }
 
  header {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70px;
    width: 100%;
  }

  #caja-nombre{
    font-size: 20px;

}

  nav ul li {
    float: none;
    
  }

  #main-nav {
    display: none;
    width: 100%;
    top: 100px;
    left: 0;
    background-image: linear-gradient(180deg,#2C3E50, #4CA0AE);

    border-radius: 30px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  #main-nav.active {
    display: block;
  }

  #main-nav ul {
    flex-direction: column;
    text-align: center;
  }

  .menu-btn {
    display: flex;
  }

  #seccion1,
  #seccion2,
  #section4,
  #seccion5 {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .caja-informacion,
  #caja-textos,
  #caja-lateral,
  .caja-textos,

  .cajas-plan {
    width: 100%;
    height: auto;
  }

  #caja-nombre {
    font-size: 50px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
   .imagenes,
  .caja-imagenes{
    width: 100%;
    height: auto;
  }

}




@media (min-width:1090px) {
   #seccion1,
  #seccion2,
  #section4,
  #seccion5 {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

 

  
  
}

